@import 'reset';
@import 'variables';

.header-bg {
    background: $darkPurple;
    color: $offWhite;
    nav {
        a {
        text-decoration: none;
        color: $offWhite;
        }
        .register-btn {
        padding: 10px 20px;
        border-radius: 7px;

        font-weight: 700;
        background: linear-gradient(to bottom, rgba(255,123,136,1) 5%,rgba(255,107,147,1) 79%);
        }
    }
}
